{% extends "base.html" %} {% block title %}{{text.login}}{% endblock %} {% block
content %}
<div class="ui container">
  <div class="ui attached message" style="display: none" id="message"></div>
  <div class="ui attached message">
    <div class="header">{{text.welcome_to}} {{title}}</div>
    <p>{{text.fill_out_the_form_to_login}}</p>
  </div>
  <form class="ui form attached fluid segment" method="post">
    <div class="field">
      <label>{{text.username}}</label>
      <input placeholder="{{text.username}}" type="text" name="username" />
    </div>
    <div class="field">
      <label>{{text.password}}</label>
      <input placeholder="{{text.password}}" type="password" name="password" />
    </div>
    <p>{{text.pressing_the_button_indicates_your_agreement_to_all_terms}}</p>
    <button type="submit" class="ui blue submit button">{{text.submit}}</button>
  </form>
  <div class="ui bottom attached warning message">
    <b
      >{{text.please_set_your_username_to_the_one_in}} {{oj_name}}
      {{text.we_will_verify_your_identity}}</b
    >
    <br />
    {{text.if_you_have_not_registered_an_account_yet_we_will_automatically_create_one_for_you}}
  </div>
</div>
<script>
  $(document).ready(function () {
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('error')) {
      $('#message').show();
      $('#message').text(urlParams.get('error'));
      $('#message').addClass('error');
    } else if (urlParams.has('success')) {
      $('#message').show();
      $('#message').text(urlParams.get('success'));
      $('#message').addClass('success');
    }
  });
</script>
{% endblock %}
