{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="ui container">
  <div class="ui attached error message" style="display: none" id="error1">
    Password or username is incorrect. Please try again.
  </div>
  <div class="ui attached error message" style="display: none" id="error3">
    username len in [1, 100], password len in [1, 100]
  </div>
  <div class="ui attached message">
    <div class="header">Welcome to {{title}}</div>
    <p>Fill out the form to login.</p>
  </div>
  <form class="ui form attached fluid segment" method="post">
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" type="text" name="username" />
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" name="password" />
    </div>
    <p>Pressing the button indicates your agreement to all terms.</p>
    <button type="submit" class="ui blue submit button">Submit</button>
  </form>
  <div class="ui bottom attached warning message">
    If you haven't registered an account yet, we will automatically create one for you.
  </div>
</div>
<script>
  $(document).ready(function () {
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('error') == 1) $('#error1').show();
    else if (urlParams.get('error') == 3) $('#error3').show();
  });
</script>
{% endblock %}
