{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class="ui container">
  <div class="ui attached error message" style="display: none" id="error1">
    Your description is not start with "{{ code }}", please try again.
  </div>
  <div class="ui attached message">
    <div class="header">
      You have to verify your account before it is disabled.
    </div>
    <p>
      please set your username to the one in XXOJ and add "{{ code }}" at the
      beginning of the Description (no prefix is required be added). We will
      verify this to ensure that it is your unique account.
    </p>
  </div>
  <form class="ui form attached fluid segment" method="post">
    <button type="submit" class="ui blue submit button">Submit</button>
  </form>
</div>
<script>
  $(document).ready(function () {
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('error') == 1) $('#error1').show();
  });
</script>
{% endblock %}
