<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ title }} - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/value2str.js') }}"></script>

    <script>
        $(document).ready(function () {
            $(`.menu a[href="${location.pathname}"]`).addClass('active');
        });
    </script>
</head>

<body>
    <div class="ui menu">
        <div class="header item">{{title}}</div>
        <a class="item" href="/">Problems</a>
        <a class="item" href="/legal/">Legal</a>
        {% if is_admin == True %}<a class="item" href="/admin/">Admin</a>{% endif %}
        <div class="right menu">
            {% if logged_in == False %}<a class="item" href="/login/">Login</a>{% endif %}
            {% if logged_in == True %}<a class="item" href="/logout/">Logout</a>{% endif %}
        </div>
    </div>
{% block content %}
{% endblock %}
<div class="ui vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui section divider"></div>
      <div class="ui horizontal small divided link list">
        <p class="item">Powered by Rating System</p>
      </div>
    </div>
  </div>
</body>

</html>