<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $(`.menu a[href="${location.pathname}"]`).addClass('active');
        });
    </script>
</head>

<body>
    <div class="ui menu">
        <div class="header item">{{title}}</div>
        <a class="item" href="/">Problems</a>
        <a class="item" href="/legal/">Legal</a>
        <a class="item" href="/admin/" style="display: none;">Admin</a>
        <div class="right menu">
            <a class="item" href="/login/">Login</a>
            <a class="item" style="display: none;">Logout</a>
        </div>
    </div>
    <div class="ui container">
        <div class="ui attached message">
            <div class="header">
                Welcome to {{title}}
            </div>
            <p>Fill out the form to login.</p>
        </div>
        <form class="ui form attached fluid segment">
            <div class="field">
                <label>Username</label>
                <input placeholder="Username" type="text">
            </div>
            <div class="field">
                <label>Password</label>
                <input placeholder="Password" type="password">
            </div>
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox" id="terms">
                    <label for="terms">I agree to the terms.</label>
                </div>
            </div>
            <div class="ui blue submit button">Submit</div>
        </form>
        <div class="ui bottom attached warning message">
            If this is your first time registering an account, please set your username as your own in XXOJ and add "Rating-System-verify" at the beginning of the Description (no prefix is required or should be added). We will verify this to ensure that it is your unique account.<br>
            If you are logging in, you do not need to perform the above operations.
        </div>
    </div>
</body>

</html>