{% extends "base.html" %}
{% block title %}
  {{ text.update_password }}
{% endblock %}
{% block content %}
  <div class="ui container">
    <div class="ui attached message" style="display: none" id="message"></div>
    <form class="ui form attached fluid segment" method="post">
      <div class="field">
        <label>{{ text.old_password }}</label>
        <input
          placeholder="{{ text.old_password }}"
          type="password"
          name="old_password"
        />
      </div>
      <div class="field">
        <label>{{ text.new_password }}</label>
        <input
          placeholder="{{ text.new_password }}"
          type="password"
          name="new_password"
        />
      </div>
      <button type="submit" class="ui blue submit button">
        {{ text.submit }}
      </button>
    </form>
  </div>
  <script>
    $(document).ready(function () {
      var urlParams = new URLSearchParams(window.location.search);
      if (urlParams.has('error')) {
        $('#message').show();
        $('#message').text(urlParams.get('error'));
        $('#message').addClass('error');
      }
    });
  </script>
{% endblock %}
